body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('https://media.tenor.com/aBCE0whmGAIAAAAC/typing.gif') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}


h1 {
  font-size: 24px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  font-size: 16px;
  resize: none; /* Prevent resizing */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

#result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#quote {
  user-select: none;
}
