@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&family=Outfit:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Fallback default theme (Minimal) */
    --bg-primary: #ffffff;
    --bg-secondary: #fafafa;
    --bg-glass: rgba(250, 250, 250, 0.8);
    --border-glass: rgba(0, 0, 0, 0.05);

    /* Text Colors */
    --text-main: #737373;
    --text-primary: #171717;
    --text-accent: #525252;
    --text-accent-muted: rgba(82, 82, 82, 0.4);
    --text-error: #dc2626;
    --bg-error: rgba(220, 38, 38, 0.15);
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  /* Custom Scrollbar for sleek UI */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@layer utilities {
  .font-typing {
    font-family: 'JetBrains Mono', monospace;
  }
}